@import 'styles/animations';
@import 'styles/mixins';
@import 'styles/modal';

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: inherit;
}
a, .a {
  color: inherit;
}
a:hover, .a:hover, a:focus, .a:focus {
  color: inherit;
  text-decoration: inherit;
}

.title {
  @include custom-border;
}

.hidden {
  display: none;
}

.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.submenu {
  background: rgba(1, 87, 155, 0.75);
  text-align: right;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #adb4b9;
    padding: 15px 15px 18px;
    display: inline-block;
    font-size: 17px;
    transition: all 0.4s ease;

    &:hover {
      color: #fff;
    }
  }

  li {
    padding: 0;
    display: inline-block;

    &:last-child {

      a {
        padding-right: 0;
      }
    }
  }
}

nav {
  border-bottom: 1px solid #fff;
  position: relative;

  img {
    max-height: 70px;
    margin-top: 15px;
    margin-left: 34px;
  }

  ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: top;

    @media (max-width: 767px) {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }

  li {
    display: inline-block;

    &:last-child {
      a {
        padding-right: 0;
        &:hover {
          &:after {
            right: 0;
          }
        }
      }
    }

    &.list-image {
      img {
        margin-top: 0;
        margin-left: 0;
      }

      a {
        padding-bottom: 50px;
      }

      @media (max-width: 767px) {
        img {
          margin-left: 0;
        }

      }
    }
    &.list-image-g {

      @media (max-width: 767px) {
        img {
          margin-left: -15px;
        }
        
      }
    }
  }

  a {
    padding: 30px 20px 30px 20px;
    display: inline-block;
    height: 2em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    box-sizing: content-box;
    position: relative;
    z-index: 2;
    font-size: 13px;
    line-height: 1.3em;
    transition: all 0.4s ease;
    color: #fff;
    
    &:after {
      left: 0;
      right: 0;
      transition: left 0.4s ease, right 0.4s ease;
      bottom: -2px;
      height: 3px;
      content: '';
      background: #21af58;
      position: absolute;
      opacity: 0;
    }

    &:hover {
      color: #fff;

      &:after {
        opacity: 1;
        left: 32px;
        right: 38px;
      }
    }
  }

  @media (max-width: 767px) {
    span {
      display: block;
      margin-bottom: 10px;
    }

    ul {
      float: none;
      background: #000;
      border-top: 1px solid #4d4d4d;
    }

    br {
      @include breakbr;
    }

    li {
      display: block;
      width: 100%;
      border-bottom: 1px solid #4d4d4d;
      &:last-child {
        a {
          padding-right: 0;
          &:hover {
            &:after {
              right: 19px;
            }
          }
        }
      }
    }

    a {
      padding: 20px 38px;
      display: block;
      text-align: left;

      &:hover {
        &:after {
          width: inherit;
          right: 19px;
        }
      }
    }
  }
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  .hamburguer {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #4d4d4d;
    right: 20px;
    top: 22px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

    span {
      width: 80%;
      height: 2px;
      background: #4d4d4d;
      display: block;
      margin: 10px auto;
    }

    &:hover {
      background: #4d4d4d;

      span {
        background: #000;
      }
    }

    @media (max-width: 767px) {
      display: block;
    }
  }
}

.background {
  width: 100%;
  height: 850px;
  background: #000;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000;
    opacity: 0.2;
    z-index: 1;
  }

  .video {
    position: absolute;
    left: 50%;
    top: -10%;
    height: 120%;
    transform: translateX(-50%);
  }

  .potencia {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.get-info {
  margin-top: -100px;
  border-top: 6px solid #3f9fd4;
  display: flex;
  z-index: 3;
  position: relative;

  .info-heading {
    background: #4caf50;
    flex-grow: 1;
    color: #fff;
    padding: 0 85px 0 40px;
  }

  h2 {
    font-weight: 100;
    font-size: 2em;
  }

  p {
    font-weight: 300;
    margin: 0;
  }

  a {
    display: inline-block;
    background: #ff5722;
    box-shadow: 1px 1px 2px 2px #2f6c31;
    border: 2px solid #e64a19;
    border-radius: 2px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 0.85em;
    color: #fff;
    text-decoration: none;

    &:hover {
      animation: {
        name: buzz;
        duration: 0.75s;
        timing-function: linear;
        iteration-count: 1;
      }
    }
  }

  .info-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    box-sizing: content-box;

    img {
      width: 100%;
    }

    .info-action {
      flex-direction: column;
      padding-bottom: 30px;
    }

    br {
      @include breakbr;
    }

    p {
      margin-bottom: 20px;
    }
  }
}

.solutions {
  padding-top: 60px;
  background: {
    image: url(assets/images/components.jpg);
    repeat: no-repeat;
    position: right bottom;
  }

  h1 {
    @include custom-border;
  }

  .components {
    display: flex;
    justify-content: space-around;
    margin-bottom: 72px;

    @media (max-width: 767px) {
      flex-direction: column;

      img {
        width: 100%;
      }

      .component {
        margin-bottom: 30px;
      }
    }
  }

  .component {
    margin: 0 10px;

    img {
      max-width: 100%;
    }

    div {
      background: #fff;
      margin-left: 27px;
      margin-right: 27px;
      margin-top: -40px;
      position: relative;
      z-index: 2;
      box-sizing: content-box;
      padding: 10px 20px;
      border-bottom: 6px solid #4caf50;
    }
  }
}

.tecnology {
  color: #fff;
  padding-top: 50px;
  background: {
    image: url(assets/images/tecnology.jpg);
    repeat: no-repeat;
    size: cover;
    position: center center;
  }

  & > h1 {
    @include custom-border;
  }

  & > p {
    text-align: center;
    font-weight: 100;
    font-size: 1.1em;
    margin-top: 0;
    line-height: 1.4em;
    margin-bottom: 50px;
  }

  .players {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .player {
    flex-basis: 50%;
    display: flex;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      flex-basis: auto;
      div:first-child {
        flex-basis: 30%;
        align-self: center;
      }
    }

    img {
      max-width: 100%;
    }

    h2 {
      font-weight: 100;
    }

    p {
      font-weight: 300;
      line-height: 1.4em;
      font-size: 1em;
    }

    div:last-child {
      padding: 0 15px;
      flex: 1;
    }
  }
}

.proposals {
  padding-top: 50px;
  padding-bottom: 55px;
  background: {
    image: url(assets/images/proposal.png);
    repeat: no-repeat;
    position: left bottom;
  }

  & > h1 {
    @include custom-border;
  }

  & > p {
    text-align: center;
    font-weight: 300;
    font-size: 1.05em;
    margin-top: 0;
    line-height: 1.4em;
    margin-bottom: 50px;
  }

  .proposals-list {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .proposal {
    flex: 1;
    display: flex;

    img {
      max-width: 100%;
    }

    .description {
      flex: 1;
      padding: 0 15px;

      h2 {
        font-weight: 300;
        font-size: 1.3em;
      }

      p {
        font-size: 1em;
        font-weight: 300;
      }

      sub {
        font-size: 12px;
        display: block;
        font-style: italic;
      }
    }
  }
}

.development {
  .development-header {
    padding-top: 60px;
    color: #fff;
    background: {
      image: url(assets/images/development.jpg);
      repeat: no-repeat;
      size: cover;
    }

    h1 {
      @include custom-border;
    }
  }

  .tabs {
    display: flex;
    justify-content: space-around;

    a {
      flex: 1;
      display: inline-block;
      background: #29b6f6;
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
      text-align: center;
      padding: 22px 0;
      font-size: 15px;
      font-weight: 300;
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        content: '';
        background: #4caf50;
        transition: height 0.15s linear;
      }

      &.active,
      &:hover {
        background: #fff;
        color: #3f3f3f;

        &:after {
          height: 5px;
        }
      }
    }
  }

  .tabs-body {
    padding: 50px 0;
    text-align: center;

    p {
      padding: 0 20%;
      line-height: 1.4em;
      margin-bottom: 40px;
    }

    img {
      max-width: 100%;
    }

    ul {
      display: inline-block;
      text-align: left;
    }
  }

  .network {
    display: flex;

    & > div {
      flex: 1;
    }

    p {
      padding: 0 1em;
      text-align: left;
      font-size: 0.9em;
    }

    @media (max-width: 767px) {
      flex-direction: column;

      & > div {
        &:last-child {
          order: -1;
        }
      }
    }
  }

  .network-info {
    padding-top: 3em;
  }
}

.logos {
  color: #fff;
  padding-top: 60px;
  background: {
    image: url(assets/images/logos.jpg);
    repeat: no-repeat;
    size: cover;
  }

  & > h1 {
    @include custom-border;
  }

  p {
    text-align: center;
    font-weight: 300;
    font-size: 1.05em;
    margin-top: 0;
    line-height: 1.4em;
    margin-bottom: 30px;
  }

  .statistics {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .statistic {
    flex: 1;
    display: flex;
    align-items: flex-start;

    img {
      margin: 0 15px;
      max-width: 100%;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 300;
      color: #fff;
    }

    p {
      text-align: left;
      font-weight: 300;
    }
  }
}

.about {
  padding-top: 95px;
  padding-bottom: 44px;
  background: {
    image: url(assets/images/about.png);
    repeat: no-repeat;
    position: right bottom;
  }

  .about-wrapper{
    align-items: stretch;
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
      margin: 0 10px;

      a {
        position: static;
        display: inline-block;
        margin: 10px 0 20px;
      }

      .about-info {
        padding-right: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  h1 {
    @include custom-border;
    text-align: left;
    margin-bottom: 70px;
    margin-top: 0;

    &:after {
      left: 0;
      transform: none;
      bottom: -28px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4em;
  }

  .image {
    flex: 1;
  }

  .about-info {
    position: relative;
    padding-right: 19%;
  }

  a {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    font-size: 14px;
    color: #3f3f3f;

    &:hover {
      color: #4caf50;

    }

    i {
      color: #4caf50;
      margin-left: 15px;
    }
  }
}

footer {
  color: #fff;
  font-weight: 300;
  background: {
    image: url(assets/images/footer.jpg);
    repeat: no-repeat;
    size: cover;
    position: center center;
  }
  padding-top: 100px;
  border-top: 5px solid #ffa000;

  .footer-wrapper {
    display: flex;
    align-items: stretch;

    div {
      flex: 1;
      margin: 0 10px;
    }

    .form-alone {
      flex: 2;
    }

    form {
      display: flex;
      &.hidden {
        display: none;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;

      button {
        width: 100%;
      }

      .textarea {
        align-self: auto;
        padding: 0 10px;
      }
    }
  }

  h3 {
    @include custom-border;
    text-align: left;
    margin-bottom: 50px;

    &:after {
      left: 0;
      transform: none;
      bottom: -15px;
    }
  }

  p {
    line-height: 1.75em;
    font-weight: 100;
    font-size: 0.85em;
  }

  .social {
    border-bottom: 1px solid #fff;
    padding-bottom: 40px;

    a {
      width: 31px;
      height: 31px;
      display: inline-block;
      border-radius: 50%;
      line-height: 31px;
      text-align: center;
      margin-right: 10px;
      color: #fff;
      transition: all 0.2s ease;
      box-sizing: content-box;
      overflow: hidden;

      &:hover {
        background: transparent;
        font-size: 22px;
        line-height: 22px;
      }
    }

    .facebook {
      background: #3b5998;
      &:hover {
        color: #3b5998;
      }
    }

    .twitter {
      background: #1da1f2;
      &:hover {
        color: #1da1f2;
      }
    }

    .google {
      background: #dd4b39;
      &:hover {
        color: #dd4b39;
      }
    }

    @media (max-width: 767px) {
      padding: 30px 20px;
    }
  }

  button {
    border: 2px solid #3f9fd4;
    width: 50%;
    background: none;
    color: #fff;
    padding: 12px 0;
    border-radius: 2px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background: #3f9fd4;
    }
  }

  textarea {
    margin-bottom: 0;
  }

  input, textarea {
    color: #fff;
  }

  .form {
    text-align: right;
  }

  .textarea {
    align-self: flex-end;
  }

  .footer-tail {
    text-align: center;
    font-family: sans-serif;
    font-size: 0.85em;
    padding: 25px 0;

    a {
      color: #fff266;
      text-decoration: none;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
}

input,
textarea {
  border: 1px solid #fff;
  background: none;
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 20px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus {
    border-color: #1385e5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(19, 133, 229, 0.1);
    outline: 0;
  }
}

textarea {
  height: 160px;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 992px) {
    max-width: 970px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

::-webkit-input-placeholder {
  color: #fff;
  font-weight: 100;
  font-family: sans-serif;
  font-style: italic;
}
::-moz-placeholder {
  color: #fff;
  font-weight: 100;
  font-family: sans-serif;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #fff;
  font-weight: 100;
  font-family: sans-serif;
  font-style: italic;
}
:-moz-placeholder {
  color: #fff;
  font-weight: 100;
  font-family: sans-serif;
  font-style: italic;
}